.cell-container {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    background-color: #282c34;
    flex: auto;
    align-content: center;
    color: #61dafb;
}

.cell-number {
    font-size: 25px;
}