.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.board-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.board {
    position: relative;
    background-color: #282c34;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

.config-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    gap: 20px;
}

.config-item {
    display: flex;
    align-items: center;
}

.config-item label {
    font-weight: 700;
    color: #ffffff;
    text-shadow:
            0 0 10px #2d6eff,
            0 0 20px #105afd,
            0 0 30px #0042dc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.config-item input {
    margin-left: 5px;
    width: 60px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.config-item input:focus {
    outline: none;
    border-color: aliceblue;
}

.svg-container {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.blinking-arrow {
    animation: blink 1s infinite;
    stroke: #e82986;
    stroke-width: 1.5;
}

.blinking-dot {
    animation: blink 1s infinite;
    stroke-width: 1.5;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
        r: 4;
    }
    50% {
        opacity: 0.6;
        r: 5;
    }
}