.board-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.board {
    position: relative;
    background-color: #282c34;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.config-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.config-item {
    display: flex;
    align-items: center;
}

.config-item label {
    font-weight: bold;
    color: #180131;
}

.config-item input {
    margin-left: 5px;
    width: 60px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.config-item input:focus {
    outline: none;
    border-color: aliceblue;
}

.svg-container {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}